<div class="container" style="width:100%;">
  
<table class="grid-table">
<tr class="form-group">
  <th>Consignment Number</th>
  <th>Abattoir Consignment Number</th>
  <th>Pickup Location</th>
  <th>Delivery Location</th>
  <th>Shipment Status</th>
</tr>
<tr *ngFor="let consignment of consignments">
  <td>{{consignment.consignmentNumber}}</td>
  <td>{{consignment.abattoirConsignmentNumber}}</td>
  <td>{{consignment.pickupLocation}}</td>
  <td>{{consignment.deliveryLocation}}</td>  
  <td><a [routerLink]="['/logistic/outward', consignment.consignmentNumber]">{{consignment.shipmentStatus}}</a></td>
</tr>
</table>

</div>