<div class="page-container">
    <div class="container">
        <h1 class="title-main">Raw Material Receipt</h1>
        <form #myForm="ngForm">
            <div class="col-lg-6 col-md-6 col-sm-12 left-pane"> 
            
            <div class="form-group">
                <label for="purchaseOrderNumber">Purchase Order Number</label>
                <input type="text" placeholder="POBF001" (change)="setDefaultValues();" class="form-control" [(ngModel)]="processorReceived.purchaseOrderNumber" name="purchaseOrderNumber" required>
            </div>
                
            <div class="form-group">
            <label for="processorReceiptNumber">Batch ID</label>
            <input type="text" disabled class="form-control" [(ngModel)]="processorReceived.processorReceiptNumber" name="processorReceiptNumber" required>
            </div>
    
            <!-- <div class="form-group">
                <label for="receivedDate">Received Date</label>
                <input type="text" [(ngModel)]="processorReceived.receivedDate" name="receivedDate" class="form-control" bsDatepicker required/>
            </div> -->
            <div class="form-group date-picker-div">
                    <label for="receivedDate">Received Date</label>
                    <div class="clearfix">
                        <input type="text" placeholder="Date" [(ngModel)]="processorReceived.receivedDate" name="receivedDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                        <ngb-timepicker [(ngModel)]="receivedDateTime" name="receivedDateTime" class="date-picker-time float-left" required></ngb-timepicker>
                    </div>
                </div>

            <div class="form-group">
                <label for="consignmentNumber">Consignment Number</label>
                <select class="form-control" [(ngModel)]="processorReceived.consignmentNumber" (change)="checkLogisticConsignment();" name="consignmentNumber" required>        
                <option *ngFor="let rec of logisticTransactionList" [value]="rec.consignmentNumber">{{rec.consignmentNumber}}</option>
                </select>
            </div>
            
            <div class="form-group clearfix">
                <label for="processorAcceptanceChecklist">Acceptance Checklist</label>
                <br>
                <label class="checkbox-style" *ngFor="let item of commonData.processorAcceptanceCriteria">
                    <input [(ngModel)]="item.conditionSatisfied" name="processorAcceptanceChecklist" 
                        [value]="item.id" type="checkbox" required/> {{item.ruleCondition}}
                        <span class="checkmark"></span>
                    </label>
            </div>
           

            <div class="form-group">
                <label for="transportConsitionSatisfied">Transport conditions satisfied?</label>
                <br>
                <label *ngIf="logisticTransaction.iotTemperatureHistory && logisticTransaction.iotTemperatureHistory.length > 0" class="checkbox-style">
                    <img class="footer-logo" src="assets/images/check-no.png">
                    <input *ngIf="false" type="checkbox" name="transportConsitionSatisfied" required>
                    No
                    <!-- <span class="checkmark"></span> -->
                </label>
                <label *ngIf="!logisticTransaction.iotTemperatureHistory || logisticTransaction.iotTemperatureHistory.length == 0" class="checkbox-style">
                    <img class="footer-logo" src="assets/images/check-yes.png">    
                    <input *ngIf="false" type="checkbox" [(ngModel)]="processorReceived.transportConsitionSatisfied" name="transportConsitionSatisfied" required>
                        Yes
                        <!-- <span class="checkmark"></span> -->
                </label>
                <table *ngIf="logisticTransaction.iotTemperatureHistory && logisticTransaction.iotTemperatureHistory.length > 0" class="table table-striped">
                        <tr>
                            <th colspan="10">Discrepancies in Temperature</th>
                        </tr>
                        <tr>
                            <th>Temp</th>
                            <th>Location</th>
                            <th>Date/Time</th>
                        </tr>
                        <tr *ngFor="let item of logisticTransaction.iotTemperatureHistory; let i = index" [attr.data-index]="i">
                            <td>{{item.temperature}}</td>
                            <td>{{item.location}}</td>
                            <td>{{item.updatedOn | date : "short"}}</td>
                        </tr>               
                </table>
            </div>
    
            
            <div class="form-group">
                    <label for="reasonForAcceptance">
                        Reason for Acceptance
                        <span class="text-danger" *ngIf="logisticTransaction.iotTemperatureHistory && logisticTransaction.iotTemperatureHistory.length > 0">
                            (is mandatory since there are descrepancies in temperature while transportation.)
                        </span>
                    </label>
                <textarea [required]="logisticTransaction.iotTemperatureHistory && logisticTransaction.iotTemperatureHistory.length > 0" 
                    [(ngModel)]="processorReceived.reasonForAcceptance" class="form-control" name="reasonForAcceptance" ></textarea>
            </div>
                



            

            </div>
        <div class="col-lg-6 col-md-6 col-sm-12 right-pane">
            
            <div class="form-group">
                <label for="guidNumber">GUID/GTIN</label>
                <select disabled class="form-control" [(ngModel)]="processorReceived.guidNumber" (click)="setGuid();" name="guidNumber" required>
                    <option value="0" selected="selected"></option>
                    <option *ngFor="let guid of commonData.abattoirsProducts" [value]="guid.code">{{guid.code}}</option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="materialName">Item Name</label>
                <input disabled type="text" [(ngModel)]="processorReceived.materialName" class="form-control" name="materialName" required>
            </div>
    
            <div class="form-group">
            <label for="materialGrade">Item Class</label>
            <select disabled class="form-control" [(ngModel)]="processorReceived.materialGrade" name="materialGrade" required>
                <option *ngFor="let grade of commonData.abattoirItemClasses" [value]="grade">{{grade}}</option>
            </select>
            </div>

            <div class="form-group">
                <label for="fatCoverClass">Fat Cover Class</label>
                <select disabled class="form-control" [(ngModel)]="processorReceived.fatCoverClass" name="fatCoverClass" required>
                    <option *ngFor="let grade of commonData.fatCoverClasses" [value]="grade">{{grade}}</option>
                </select>
            </div>

            <!-- <div class="form-group">
                <label for="usedByDate">Used By Date</label>
                <input type="text" [(ngModel)]="processorReceived.usedByDate" name="usedByDate" class="form-control" bsDatepicker required/>
            </div> -->
    
            <div class="form-group">
                <label for="quantity" style="display: block;">Quantity</label>
                <input disabled type="text" class="form-control input-inline-small" [(ngModel)]="processorReceived.quantity" name="quantity" required>
                <select disabled class="form-control input-inline-small" [(ngModel)]="processorReceived.quantityUnit" name="qunatityUnit" required >
                    <option *ngFor="let unit of commonData.units" [value]="unit">{{unit}}</option>
                </select>
            </div>
    
            <div class="form-group">
                <label for="transitTime">Transit Time(Hrs)</label>
                <input disabled type="text" [(ngModel)]="processorReceived.transitTime" class="form-control" name="transitTime" required>
            </div>
    
            <div class="form-group">
                <label for="storage">Storage</label>
                <select class="form-control" [(ngModel)]="processorReceived.storage" name="storage" required >
                    <option *ngFor="let item of commonData.storage" [value]="item">{{item}}</option>
                  </select>
            </div>
            <div class="form-group">
                <label for="processorReceiptNumber">Transporter</label>
                <input type="text" disabled class="form-control" [(ngModel)]="logisticTransaction.logisticName" name="logisticName">
            </div>
            
        </div>
    
        <div class="block-button-area">
                <button type="submit" (click)="clearForm(myForm)" class="btn btn-border">Clear</button>
                <button type="submit" [disabled]="!myForm.form.valid" (click)="saveProcessorReceived(myForm);" class="btn btn-normal">Submit</button>
        </div>
        </form>
    </div>
</div>
