<div class="page-container">
    <div class="container">
        <h1 class="title-main">IKEA Dispatch Tracker</h1>
       <div class="tracker-page-wrapper clearfix">
          <!-- <img class="logo" src="assets/images/ikea-logo.png">
        <div class="bg-wrap">
        </div>
        <div class="title-wrap">
          <h1>Meatball<span>Journey Tracker</span></h1>
        </div> -->
        <div class="tracker-wrap tracker-dispatch-numbers"> 
          
          
          <table class="table table-striped table-bordered mrg-top-10">
              <tr><th colspan="10">Ikea Dispatch Numbers</th></tr>
              <tr *ngFor="let item of this.ikeaDispatchList; let i = index" [attr.data-index]="i">
                  <td (click)="getProductTrackingDetails(item)">{{item}}</td>
              </tr> 
                             
          </table>

        </div>
        <div class="tracker-wrap tracker-dispatch-numbers-details">         
  
          <div class="timeline-wrapper" *ngIf="productTracking && productTracking.ikeaDispatch">
            <div class="timeline-block">
              <div class="title-pane">
                <h5>IKEA</h5>
              </div>
              <div class="icon">
                <img src="assets/images/ikea-logo.png">
              </div>
              <div class="info-pane">
                <ul *ngIf="productTracking && productTracking.ikeaReceived && productTracking.ikeaDispatch">                
                    <li>
                        <span class="label-text"><b>MEATBALLS PLATE</b></span>                      
                    </li>  
                  <li>
                        <span class="label-text"><b>SALE:</b></span>                      
                    </li>
                  <li>
                    <span class="label-text">Sold At:</span>
                    <span class="value">{{productTracking.ikeaDispatch.soldAt}}</span>
                  </li>
                  <li>
                      <span class="label-text">Sold From:</span>
                      <span class="value">{{productTracking.ikeaDispatch.soldFromDate | date : "short"}}</span>
                    </li>
                  <li>
                    <span class="label-text">Sold Untill:</span>
                    <span class="value">{{productTracking.ikeaDispatch.soldUntillDate | date : "short"}}</span>
                  </li>
                  <li>
                      <span class="label-text"><b>PREP:</b></span>                      
                  </li>
                  <li>
                      <span class="label-text">Prepared On:</span>
                      <span class="value">{{productTracking.ikeaDispatch.preparedOn | date : "short"}}</span>
                    </li>
                    <li>
                    <span class="label-text">Prepared By:</span>
                    <span class="value">{{productTracking.ikeaDispatch.preparedBy}}</span>
                  </li>
                  <li>
                      <span class="label-text">Checkout:</span>
                      <span class="value">{{productTracking.ikeaDispatch.dispatchDateTime | date : "short"}}</span>
                    </li>
                  <li>
                    <span class="label-text">Batch Code:</span>
                    <span class="value">{{productTracking.IkeaReceivedNumber}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                      <span class="label-text"><b>RECEIPT:</b></span>                      
                    </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                    <span class="label-text">PO Number:</span>
                    <span class="value">{{productTracking.ikeaReceived.purchaseOrderNumber}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                    <span class="label-text">Receipt:</span>
                    <span class="value">{{productTracking.ikeaReceived.receivedDate  | date : "short"}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                    <span class="label-text">Acceptance:</span>
                    <span class="value" *ngFor="let item of productTracking.ikeaReceived.acceptanceCheckList; let i = index" [attr.data-index]="i">
                      <span *ngIf="i == 0">{{item.ruleCondition}}</span>
                      <span *ngIf="i != 0">, {{item.ruleCondition}}</span>
                    </span>
                  </li>
                </ul>
              </div>
            </div>
  
            <div class="timeline-block">
              <div class="title-pane">
                <h5>Transport</h5>
              </div>
              <div class="icon">
                <img src="assets/images/tracker-transport-icon.png">
              </div>
              <div class="info-pane">
                <ul *ngIf="productTracking && productTracking.logisticP2ITransactions">
                  <li>
                      <span class="label-text">Handling Violations:</span>
                      <span class="value">{{productTracking.ProcessorToIkeaTransportConsitionSatisfied == "false" ? "Yes" : "No"}}</span>
                  </li>
                  <li>
                    <span class="label-text">Pick-up:</span>
                    <span class="value">{{productTracking.ProcessorToIkeaPickUpDate | date : "short"}}</span>
                  </li>
                  <li>
                    <span class="label-text">Delivery:</span>
                    <span class="value">{{productTracking.ProcessorToIkeaDeliveryDate | date : "short"}}</span>
                  </li>
                  <li>
                      <span class="label-text">Transporter:</span>
                      <span class="value">{{productTracking.ProcessorToIkeaTransporterName}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                    <span class="label-text">Transporter Id:</span>
                    <span class="value">{{productTracking.logisticP2ITransactions.logisticId}}</span>
                </li>
                <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">Consignment Nbr. Ref:</span>
                  <span class="value">{{productTracking.logisticP2ITransactions.consignmentNumber}}</span>
              </li>
                </ul>
              </div>
            </div>
  
            <div class="timeline-block">
              <div class="title-pane">
                <h5>Meatball Manufacturer</h5>
              </div>
              <div class="icon">
                <img src="assets/images/tracker-process-icon.png">
              </div>
              <div class="info-pane">
                <ul *ngIf="productTracking && productTracking.processorDispatch">
                  <li>
                    <span class="label-text">Manufactured:</span>
                    <span class="value">{{productTracking.ProcessingDate | date : "short"}}</span>
                  </li>
                  <li>
                    <span class="label-text">Use by:</span>
                    <span class="value">{{productTracking.ProcessorUseByDate | date : "short"}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                    <span class="label-text">Batch ID:</span>
                    <span class="value">{{productTracking.processorDispatch.processorBatchCode}}</span>
                </li>
                  <li>
                      <span class="label-text">Meatball Manufacturer:</span>
                      <span class="value">{{productTracking.ProcessorCompanyName}}</span>
                  </li>
                </ul>
              </div>
            </div>
  
            <div class="timeline-block">
              <div class="title-pane">
                <h5>Transport</h5>
              </div>
              <div class="icon">
                <img src="assets/images/tracker-transport-icon.png">
              </div>
              <div class="info-pane">
                <ul *ngIf="productTracking && productTracking.logisticA2PTransactions">
                  <li>
                      <span class="label-text">Handling Violations:</span>
                      <span class="value">{{productTracking.AbattoirToProcessorTransportConsitionSatisfied == "false" ? "Yes" : "No"}}</span>
                  </li>
                  <li>
                    <span class="label-text">Pick-up:</span>
                    <span class="value">{{productTracking.AbattoirToProcessorPickUpDate | date : "short"}}</span>
                  </li>
                  <li>
                    <span class="label-text">Delivery:</span>
                    <span class="value">{{productTracking.AbattoirToProcessorDeliveryDate | date : "short"}}</span>
                  </li>
                  <li>
                      <span class="label-text">Transporter:</span>
                      <span class="value">{{productTracking.AbattoirToProcessorTransporterName}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                    <span class="label-text">Transporter Id:</span>
                    <span class="value">{{productTracking.logisticA2PTransactions.logisticId}}</span>
                </li>
                <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">Consignment Nbr. Ref:</span>
                  <span class="value">{{productTracking.logisticA2PTransactions.consignmentNumber}}</span>
              </li>
                </ul>
              </div>
            </div>
  
            <div class="timeline-block">
              <div class="title-pane">
                <h5>Abattoir</h5>
              </div>
              <div class="icon">
                <img src="assets/images/tracker-abattoir-icon.png">
              </div>
              <div class="info-pane">
                <ul *ngIf="productTracking && productTracking.abattoirMaterialReceived && productTracking.abattoirMaterialDispatch">
                    <li *ngIf="currentUser && currentUser.name != ''">
                        <span class="label-text">Product GTIN:</span>
                        <span class="value">{{productTracking.abattoirMaterialDispatch.guidNumber}}</span>
                    </li>
                    <li *ngIf="currentUser && currentUser.name != ''">
                        <span class="label-text">Product Batch ID:</span>
                        <span class="value">{{productTracking.abattoirMaterialDispatch.consignmentNumber}}</span>
                    </li>
                    <li *ngIf="currentUser && currentUser.name != ''">
                        <span class="label-text">Processed On:</span>
                        <span class="value">{{productTracking.abattoirMaterialDispatch.productionDate | date : "short"}}</span>
                    </li>
                  <li>
                      <span class="label-text">Class:</span>
                      <span class="value">{{productTracking.abattoirMaterialDispatch.materialGrade}}</span>
                  </li>
                  <li>
                      <span class="label-text">Fat Cover Class:</span>
                      <span class="value">{{productTracking.abattoirMaterialDispatch.fatCoverClass}}</span>
                  </li>
                  <li>
                    <span class="label-text">Abattoir:</span>
                    <span class="value">{{productTracking.AbattoirName}}</span>
                  </li>
                  <li>
                    <span class="label-text">Livestock Batch ID Ref.:</span>
                    <span class="value">{{productTracking.abattoirMaterialReceived.livestockBatchId}}</span>
                  </li>
                </ul>
              </div>
            </div>
  
            <div class="timeline-block">
                <div class="title-pane">
                  <h5>Angus</h5>
                </div>
                <div class="icon">
                  <img src="assets/images/angus-cow-icon.png">
                </div>
                <div class="info-pane">
                  <ul *ngIf="productTracking && productTracking.abattoirMaterialReceived">
                    <li>
                        <span class="label-text">Class:</span>
                        <span class="value">{{productTracking.FarmerMaterialClass}}</span>
                    </li>
                    <li>
                      <span class="label-text">From:</span>
                      <span class="value">{{productTracking.FarmerName}}</span>
                    </li>
                    <li>
                      <span class="label-text">Traceability Batch Id:</span>
                      <span class="value">{{productTracking.ReceiptBatchId}}</span>
                    </li>
                  </ul>
                </div>
              </div>
  
          </div>
        </div>
        
      </div>
    </div>
  </div>
  

