<div id="header">
  <img id="companyLogoImg" src="assets/images/ikea-logo.png">

  <nav class="navbar navbar-dark bg-inverse">
    <div class="container">        
        <ul class="nav navbar-nav" routerLinkActive="active">
            <li class="nav-item"><a class="nav-link" routerLink="abattoir/inward">Abattoir Inward</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="abattoir/outward">Abattoir Outward</a></li>            
            <li class="nav-item"><a class="nav-link" routerLink="logistic/dashboard">Logistic Dashboard</a></li>
            <li class="nav-item"><a class="nav-link" routerLink="logistic/inward">Logistic Inward</a></li>
            <!-- <li class="nav-item"><a class="nav-link" routerLink="logistic/outward">Logistic Outward</a></li>             -->
        </ul>
    </div>
  </nav>
</div>