<div id="header" *ngIf="router.url!='/'">
    <div class="header-inner clearfix">
      <div class="container">
        <img id="companyLogoImg" src="assets/images/ikea-logo.png">
  
        <div class="user-control" *ngIf="user.loggedInUser">
          <div class="user-name">
            <img src="assets/images/user.png">
            <span>{{user.loggedInUser.displayName}}</span>
            <!-- <span > ({{user.loggedInUser.role}})</span> -->
          </div>
          <div class="logout">
            <a (click)="logout();"><img src="assets/images/logout.png"></a>
          </div>
        </div>
      </div>
    </div>    
    <link id="theme" rel="stylesheet" href=""/> 
    <nav class="navbar navbar-dark bg-inverse menu-nav" *ngIf="user.loggedInUser">
      
      <div class="container">  
          
          <ul *ngIf="getUser().role == 'abattoir'" class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="abattoir/inward">Receipt</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="abattoir/outward">Dispatch</a></li>            
              <li class="nav-item"><a class="nav-link" routerLink="block/recent">Blocks</a></li>
          </ul>
          <ul *ngIf="getUser().role == 'logistic'" class="nav navbar-nav" routerLinkActive="active">
              <!-- <li class="nav-item"><a class="nav-link" routerLink="logistic/dashboard">Logistic Dashboard</a></li> -->
              <li class="nav-item"><a class="nav-link" routerLink="logistic/inward">Logistics Serv. Provider Receipt</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="block/recent">Blocks</a></li>
          </ul>
          <ul *ngIf="getUser().role == 'processor'" class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="processor/inward">Receipt</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="processor/process">Process Item</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="processor/dispatch">Dispatch</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="block/recent">Blocks</a></li>
          </ul>
          <ul *ngIf="getUser().role == 'tango'" class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item" *ngIf="getUser().subRole == 'store'"><a class="nav-link" routerLink="tango/inward">Receipt</a></li>
              <li class="nav-item" *ngIf="getUser().subRole == 'store'"><a class="nav-link" routerLink="tango/outward">Kitchen Checkout</a></li>
              
              <li class="nav-item" *ngIf="getUser().subRole == 'restaurant'"><a class="nav-link" routerLink="tango/pos">Sale</a></li>
              <li class="nav-item" *ngIf="getUser().subRole == 'store'"><a class="nav-link" routerLink="block/recent">Blocks</a></li>
              <li class="nav-item" *ngIf="getUser().subRole == 'store'"><a class="nav-link" routerLink="tango/track">Track Farm-to-Fork</a></li>
              <li class="nav-item" *ngIf="getUser().subRole == 'restaurant'" ><a class="nav-link" routerLink="product/track">View Farm-to-Fork Journey</a></li>
          </ul>
          
      </div>
    </nav>
  
    
  </div>