<div id="header">
    <div class="header-inner clearfix">
      <div class="container">
        <img id="companyLogoImg" src="assets/images/ikea-logo.png">
  
        <div class="user-control">
          <div *ngIf="router.url!='/'" class="user-name">
            <img src="assets/images/user.png">
            <span>{{user.loggedInUser.name}}</span>
          </div>
          <div class="logout">
            <a (click)="logout();"><img src="assets/images/logout.png"></a>
          </div>
        </div>
      </div>
    </div>
    <nav *ngIf="router.url!='/'" class="navbar navbar-dark bg-inverse menu-nav">
      <div class="container">        
          <ul class="nav navbar-nav" routerLinkActive="active">
              <li class="nav-item"><a class="nav-link" routerLink="abattoir/inward">Abattoir Inward</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="abattoir/outward">Abattoir Outward</a></li>            
              <li class="nav-item"><a class="nav-link" routerLink="logistic/dashboard">Logistic Dashboard</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="logistic/inward">Logistic Inward</a></li>
              <!-- <li class="nav-item"><a class="nav-link" routerLink="logistic/outward">Logistic Outward</a></li>             -->
              <li class="nav-item"><a class="nav-link" routerLink="processor/inward">Processor Inward</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="processor/process">Process Item</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="processor/dispatch">Processor Dispatch</a></li>
              <li class="nav-item"><a class="nav-link" routerLink="ikea/inward">Ikea Inward</a></li>
          </ul>
      </div>
    </nav>
  
    
  </div>