<div class="container">
    <h1 class="title-main">Logistic Inward</h1>
    <form #myForm="ngForm">
        <div class="col-lg-6 col-md-6 col-sm-12 left-pane">
          <div class="form-group">
          <label for="selectRoute">Route</label>
          <select class="form-control" [(ngModel)]="logisticTransaction.routeId" name="selectRoute" required>  
              <option *ngFor="let route of commonData.routes" [value]="route.id">{{route.name}}</option>      
          </select>
          </div>      
          <div class="form-group">
              <label for="consignmentNumber">Consignment Number</label>
              <input type="text" [(ngModel)]="logisticTransaction.consignmentNumber"  class="form-control" name="consignmentNumber" required>
          </div>
  
          <div class="form-group">
              <label for="abattoirConsignmentNumber">Abattoir Consignment Number</label>      
              <select class="form-control" [(ngModel)]="logisticTransaction.abattoirConsignmentNumber" name="abattoirConsignmentNumber" required>        
              <option *ngFor="let rec of abattoirDispatchList" [value]="rec.consignmentNumber">{{rec.consignmentNumber}}</option>
              </select>
          </div>    
  
          <div class="form-group">
              <label for="vehicleId">Vehicle Id</label>        
              <select class="form-control" [(ngModel)]="logisticTransaction.vehicleId" name="vehicleId" required>        
                  <option *ngFor="let rec of commonData.vehicles" [value]="rec.id">{{rec.lpn}}</option>
              </select>
          </div>
          
          <div class="form-group">
              <label for="vehicleType">Vehicle Type</label>
              <select class="form-control" [(ngModel)]="logisticTransaction.vehicleTypeId" name="vehicleType" required>
                  <option *ngFor="let type of commonData.vehicleTypes" [value]="type.id">{{type.type}}</option>
              </select>
          </div>
      </div>
  
      <div class="col-lg-6 col-md-6 col-sm-12 right-pane">
          
  
          <div class="form-group date-picker-div">
              <label for="dispatchDate">Dispatch Date/Time</label>
              <div class="clearfix">
                  <input type="text" placeholder="Date" [(ngModel)]="logisticTransaction.dispatchDateTime" name="dispatchDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                  <ngb-timepicker [(ngModel)]="dispatchDateTime" name="dispatchDateTime" class="date-picker-time float-left" required></ngb-timepicker>
              </div>
          </div>
  
  
          <div class="form-group date-picker-div">
              <label for="expectedDate">Expected Delivery Date/Time</label>
              <div class="clearfix">
                  <input type="text" placeholder="Date" [(ngModel)]="logisticTransaction.expectedDeliveryDateTime" name="expectedDeliveryDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                  <ngb-timepicker [(ngModel)]="expectedDeliveryDateTime" name="expectedDeliveryDateTime" class="date-picker-time float-left" required></ngb-timepicker>
              </div>
          </div>
           
          <div class="form-group temp-min-max"> 
              <label for="minTemp">Temp storage instruction (Min-Max)</label>     
              <div class="min-max-temp-field">
                  <input type="text" placeholder="Min" class="form-control input-inline-small" [(ngModel)]="logisticTransaction.temperatureStorageMin" name="temperatureStorageMin" required>     
                  <input type="text" placeholder="Max" class="form-control input-inline-small" [(ngModel)]="logisticTransaction.temperatureStorageMax" name="temperatureStorageMax" required>
              </div>
              
          </div>
  
          <div class="form-group">
              <label for="quantity" style="display: block;">Quantity</label>
              <input type="text" class="form-control input-inline-small" [(ngModel)]="logisticTransaction.quantity" name="quantity" required>
              <select class="form-control input-inline-small" [(ngModel)]="logisticTransaction.quantityUnit" name="quantityUnit" required >
                  <option *ngFor="let unit of commonData.units" [value]="unit">{{unit}}</option>
              </select>
          </div>
  
          <div class="form-group">
              <label for="handlingInstruction">Handling Instructions</label>
              <textarea class="form-control" [(ngModel)]="logisticTransaction.handlingInstruction" name="handlingInstruction" required></textarea>        
          </div>
      </div>
  
      <div class="block-button-area">
          <button type="reset" (click)="clearForm()" class="btn btn-border">Clear</button>
          <button type="submit" [disabled]="!myForm.form.valid" (click)="saveLogisticTransaction()" class="btn btn-normal"> Pickup </button>
      </div>
  
    </form>
  </div>