.temp-min-max{
    width:200px;
    margin-top: -15px;
    height: 50px;
    display: table;
}
.min-max-temp-label{
    float: left;
    width:40px;
    margin-left: 10px;
    padding-top: 3px;
}
.min-max-temp-field{
    float: left;
    width:100px;
    margin-left: 10px;
    padding-top: 3px;
}
.date-picker-div{
    margin-top:0px;
    margin-top: -40px;
    display: table;
    margin-bottom: 0px;    
}
.date-picker-date{
    width:200px;
    float: left;
    margin-top: 26px;
}
.date-picker-time{
    width:150px;
    float: left;
    margin-left:10px;    
}
