<div class="container">
  <div class="tracker-page-wrapper clearfix">
    <div class="bg-wrap">
    </div>
    <div class="title-wrap">
      <h1>Meatball<span>Journey Tracker</span></h1>
    </div>
    <div class="tracker-wrap">
      <div class="timeline-wrapper">

        <div class="timeline-block">
          <div class="title-pane">
            <h5>IKEA Restaurant</h5>
          </div>
          <div class="icon">
            <img src="assets/images/tracker-ikea-icon.png">
          </div>
          <div class="info-pane">
            <ul>
              <li>
                <span class="label-text">Name:</span>
                <span class="value">IKEA Goteberg</span>
              </li>
              <li>
                <span class="label-text">Item Prepared:</span>
                <span class="value">21-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Meat Ball Received:</span>
                <span class="value">20-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Batch Code:</span>
                <span class="value">777888980</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="timeline-block">
          <div class="title-pane">
            <h5>Transport</h5>
          </div>
          <div class="icon">
            <img src="assets/images/tracker-transport-icon.png">
          </div>
          <div class="info-pane">
            <ul>
              <li>
                <span class="label-text">Transporter:</span>
                <span class="value">Bing Transport</span>
              </li>
              <li>
                <span class="label-text">Pick-up:</span>
                <span class="value">19-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Delivery:</span>
                <span class="value">20-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Temp During Transit:</span>
                <span class="value">2-4 C</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="timeline-block">
          <div class="title-pane">
            <h5>Processor</h5>
          </div>
          <div class="icon">
            <img src="assets/images/tracker-process-icon.png">
          </div>
          <div class="info-pane">
            <ul>
              <li>
                <span class="label-text">Processor:</span>
                <span class="value">Processing Company Name</span>
              </li>
              <li>
                <span class="label-text">Processed:</span>
                <span class="value">17-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Use by:</span>
                <span class="value">31-Dec-2017</span>
              </li>
              <li>
                <span class="label-text">Batch Code:</span>
                <span class="value">1214545745</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="timeline-block">
          <div class="title-pane">
            <h5>Transport</h5>
          </div>
          <div class="icon">
            <img src="assets/images/tracker-transport-icon.png">
          </div>
          <div class="info-pane">
            <ul>
              <li>
                <span class="label-text">Transporter:</span>
                <span class="value">Bing Transport</span>
              </li>
              <li>
                <span class="label-text">Pick-up:</span>
                <span class="value">16-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Delivery:</span>
                <span class="value">17-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Temp During Transit:</span>
                <span class="value">2-4 C</span>
              </li>
            </ul>
          </div>
        </div>

        <div class="timeline-block">
          <div class="title-pane">
            <h5>Abattoir</h5>
          </div>
          <div class="icon">
            <img src="assets/images/tracker-abattoir-icon.png">
          </div>
          <div class="info-pane">
            <ul>
              <li>
                <span class="label-text">Abattoir:</span>
                <span class="value">Abattoir Name</span>
              </li>
              <li>
                <span class="label-text">Processed:</span>
                <span class="value">14-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Use by:</span>
                <span class="value">25-Nov-2017</span>
              </li>
              <li>
                <span class="label-text">Batch Code:</span>
                <span class="value">777888765</span>
              </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    
  </div>
</div>
