<div class="page-container">
  <div class="container">
    <h1 class="title-main">Meatball Journey Tracker</h1>
   
    <div class="tracker-page-wrapper clearfix">
        <img class="logo" src="assets/images/ikea-logo.png">
      <div class="bg-wrap">
      </div>
      <div class="title-wrap">
          <div class="meatball-info">
              <h1>Swedish Meatballs</h1>
              <h5>with mashed potato, cream sauce and lingonberry jam</h5>
              <h6>The sauce contains milk and traces of gluten.</h6>
              <h5>10 Meatballs:</h5>
              <h1 class="price">€ 4.99</h1>
            </div>        
      </div>
      <div class="tracker-wrap">         

            <div class="bill-number">
                <p><span class="label-text">Welcome to IKEA’s Farm-to-Fork tracer!</span></p>
                <p><span class="label-text">Check the origin and learn more on what goes into bringing the delicious meatballs to you!
                Please enter you bill id OR date & time of purchase, to view the details.</span></p>
              <input class="form-control" type="text" [(ngModel)]="productTracking.BillNumber" placeholder="Enter Bill Number" name="BillNumber">
              <button type="submit" [disabled]="productTracking.BillNumber.length == 0" (click)="getProductTrackingDetails();" class="btn btn-normal">Track</button>
            </div>

        <div class="timeline-wrapper">
          <div class="timeline-block">
            <div class="title-pane">
              <h5>IKEA Restaurant</h5>
            </div>
            <div class="icon">
              <img src="assets/images/tracker-ikea-icon.png">
            </div>
            <div class="info-pane">
              <ul *ngIf="productTracking && productTracking.billDetails && productTracking.ikeaReceived && productTracking.ikeaDispatch">                
                  
                  <!-- <li>
                      <span class="label-text"><b>SWEDISH MEATBALLS</b></span>                      
                  </li>  -->
                  <li>
                    <span class="label-text">Sold At:</span>
                    <span class="value">{{productTracking.ikeaDispatch.soldAt}}</span>
                  </li>
                  <li>
                      <span class="label-text">Item Prepared On:</span>
                      <span class="value">{{productTracking.ikeaDispatch.dispatchDateTime | date : "short"}}</span>
                  </li>                
                <li>
                  <span class="label-text">Bill Id:</span>
                  <span class="value">{{productTracking.BillNumber}}</span>
                </li>
                <li>
                  <span class="label-text">Bill Date:</span>
                  <span class="value">{{productTracking.billDetails.billDateTime}}</span>
                </li>
                <!-- <li>
                  <span class="label-text">Safe Shipping:</span>
                  <span [ngClass]="{alert: productTracking.ProcessorToIkeaTransportConsitionSatisfied == 'false', value: productTracking.ProcessorToIkeaTransportConsitionSatisfied == 'true'}">
                    {{productTracking.ProcessorToIkeaTransportConsitionSatisfied == "true" ? "Yes" : "No"}}</span>
                </li> -->
                <!-- <li>
                  <span class="label-text">Batch Code:</span>
                  <span class="value">{{productTracking.IkeaReceivedNumber}}</span>
                </li>
                <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">PO Number:</span>
                  <span class="value">{{productTracking.ikeaReceived.purchaseOrderNumber}}</span>
                </li>
                <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">Receipt:</span>
                  <span class="value">{{productTracking.ikeaReceived.receivedDate  | date : "short"}}</span>
                </li>
                <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">Acceptance:</span>
                  <span class="value" *ngFor="let item of productTracking.ikeaReceived.acceptanceCheckList; let i = index" [attr.data-index]="i">
                    <span *ngIf="i == 0">{{item.ruleCondition}}</span>
                    <span *ngIf="i != 0">, {{item.ruleCondition}}</span>
                  </span>
                </li> -->
              </ul>
            </div>
          </div>

          <div class="timeline-block" style="display:none">
            <div class="title-pane">
              <h5>Transport</h5>
            </div>
            <div class="icon">
              <img src="assets/images/tracker-transport-icon.png">
            </div>
            <div class="info-pane">
              <ul *ngIf="productTracking && productTracking.logisticP2ITransactions">
                  <li>
                      <span class="label-text"><b>MEATBALLS delivery</b></span>                      
                  </li> 
                <li>
                    <span class="label-text">Handling Violations:</span>
                    <span class="value">{{productTracking.ProcessorToIkeaTransportConsitionSatisfied == "false" ? "Yes" : "No"}}</span>
                </li>
                <li>
                  <span class="label-text">Pick-up:</span>
                  <span class="value">{{productTracking.ProcessorToIkeaPickUpDate | date : "short"}}</span>
                </li>
                <li>
                  <span class="label-text">Delivery:</span>
                  <span class="value">{{productTracking.ProcessorToIkeaDeliveryDate | date : "short"}}</span>
                </li>
                <li>
                    <span class="label-text">Transporter:</span>
                    <span class="value">{{productTracking.ProcessorToIkeaTransporterName}}</span>
                </li>
                <!-- <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">Transporter Id:</span>
                  <span class="value">{{productTracking.logisticP2ITransactions.logisticId}}</span>
              </li>
              <li *ngIf="currentUser && currentUser.name != ''">
                <span class="label-text">Consignment Nbr. Ref:</span>
                <span class="value">{{productTracking.logisticP2ITransactions.consignmentNumber}}</span>
            </li> -->
              </ul>
            </div>
          </div>

          <div class="timeline-block">
            <div class="title-pane">
              <h5>Meatball Manufacturer</h5>
            </div>
            <div class="icon">
              <img src="assets/images/tracker-process-icon.png">
            </div>
            <div class="info-pane">
              <ul *ngIf="productTracking && productTracking.processorDispatch">
                  <!-- <li>
                      <span class="label-text"><b>MEATBALLS delivery</b></span>                      
                  </li>  -->
                <li>
                    <span class="label-text">Meatball Manufacturer:</span>
                    <span class="value">{{productTracking.ProcessorCompanyName}}</span>
                </li>                  
                <li>
                  <span class="label-text">Manufactured:</span>
                  <span class="value">{{productTracking.ProcessingDate | date : "short"}}</span>
                </li>
                <li>
                  <span class="label-text">Use by:</span>
                  <span class="value">{{productTracking.ProcessorUseByDate | date : "short"}}</span>
                </li>
                <!-- <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">Batch ID:</span>
                  <span class="value">{{productTracking.processorDispatch.processorBatchCode}}</span>
              </li> -->
              <!-- <li>
                <span class="label-text">Safe Shipping:</span>
                <span class="value" *ngIf="productTracking.AbattoirToProcessorTransportConsitionSatisfied == 'true'">Yes</span>
                <span class="alert" *ngIf="productTracking.AbattoirToProcessorTransportConsitionSatisfied != 'true'">No</span>
              </li> -->
              <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">DNA Test:</span>
                  <span class="value">{{productTracking.processorDispatch.qualityControlDocument && productTracking.processorDispatch.qualityControlDocument.length > 0 ? "OK" : "NO"}}</span>
              </li>                
              </ul>
            </div>
          </div>

          <div class="timeline-block" style="display:none">
            <div class="title-pane">
              <h5>Transport</h5>
            </div>
            <div class="icon">
              <img src="assets/images/tracker-transport-icon.png">
            </div>
            <div class="info-pane">
              <ul *ngIf="productTracking && productTracking.logisticA2PTransactions">
                  <li>
                      <span class="label-text"><b>BEEF carcass delivery</b></span>                      
                  </li> 
                <li>
                    <span class="label-text">Handling Violations:</span>
                    <span class="value">{{productTracking.AbattoirToProcessorTransportConsitionSatisfied == "false" ? "Yes" : "No"}}</span>
                </li>
                <li>
                  <span class="label-text">Pick-up:</span>
                  <span class="value">{{productTracking.AbattoirToProcessorPickUpDate | date : "short"}}</span>
                </li>
                <li>
                  <span class="label-text">Delivery:</span>
                  <span class="value">{{productTracking.AbattoirToProcessorDeliveryDate | date : "short"}}</span>
                </li>
                <li>
                    <span class="label-text">Transporter:</span>
                    <span class="value">{{productTracking.AbattoirToProcessorTransporterName}}</span>
                </li>
                <!-- <li *ngIf="currentUser && currentUser.name != ''">
                  <span class="label-text">Transporter Id:</span>
                  <span class="value">{{productTracking.logisticA2PTransactions.logisticId}}</span>
              </li>
              <li *ngIf="currentUser && currentUser.name != ''">
                <span class="label-text">Consignment Nbr. Ref:</span>
                <span class="value">{{productTracking.logisticA2PTransactions.consignmentNumber}}</span>
            </li> -->
              </ul>
            </div>
          </div>

          <div class="timeline-block">
            <div class="title-pane">
              <h5>Abattoir</h5>
            </div>
            <div class="icon">
              <img src="assets/images/tracker-abattoir-icon.png">
            </div>
            <div class="info-pane">
              <ul *ngIf="productTracking && productTracking.abattoirMaterialReceived && productTracking.abattoirMaterialDispatch">
                  <!-- <li>
                      <span class="label-text"><b>BEEF carcass</b></span>                      
                  </li> -->
                  <li>
                    <span class="label-text">Abattoir Name:</span>
                    <span class="value">{{productTracking.AbattoirName}}</span>
                  </li>
                  <!-- <li *ngIf="currentUser && currentUser.name != ''">
                      <span class="label-text">Product GTIN:</span>
                      <span class="value">{{productTracking.abattoirMaterialDispatch.guidNumber}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                      <span class="label-text">Product Batch ID:</span>
                      <span class="value">{{productTracking.abattoirMaterialDispatch.consignmentNumber}}</span>
                  </li>
                  <li *ngIf="currentUser && currentUser.name != ''">
                      <span class="label-text">Processed On:</span>
                      <span class="value">{{productTracking.abattoirMaterialDispatch.productionDate | date : "short"}}</span>
                  </li> -->
                <li>
                    <span class="label-text">Class:</span>
                    <span class="value">{{productTracking.abattoirMaterialDispatch.materialGrade}}</span>
                </li>
                <li>
                    <span class="label-text">Fat Cover Class:</span>
                    <span class="value">{{productTracking.abattoirMaterialDispatch.fatCoverClass}}</span>
                </li>                
                <!-- <li>
                  <span class="label-text">Livestock Batch ID Ref.:</span>
                  <span class="value">{{productTracking.abattoirMaterialReceived.livestockBatchId}}</span>
                </li> -->
                <li>
                    <span class="label-text">Processed On:</span>
                    <span class="value">{{productTracking.abattoirMaterialDispatch.productionDate | date : "short"}}</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="timeline-block">
              <div class="title-pane">
                <h5>Feedlot</h5>
              </div>
              <div class="icon">
                <img src="assets/images/angus-cow-icon.png">
              </div>
              <div class="info-pane">
                <ul *ngIf="productTracking && productTracking.abattoirMaterialReceived">
                    <!-- <li>
                        <span class="label-text"><b>Feedlot</b></span>                      
                    </li>  -->
                    <li>
                      <span class="label-text">Feedlot Name:</span>
                      <span class="value">{{productTracking.FarmerName}}</span>
                    </li>
                    <li>
                      <span class="label-text">Material Name:</span>
                      <span class="value">{{productTracking.abattoirMaterialReceived.materialName }}</span>
                    </li>
                    <li>
                      <span class="label-text">Class:</span>
                      <span class="value">{{productTracking.FarmerMaterialClass}}</span>
                  </li>
                  <!-- <li>
                    <span class="label-text">Traceability Batch Id:</span>
                    <span class="value">{{productTracking.ReceiptBatchId}}</span>
                  </li> -->
                </ul>
              </div>
            </div>

        </div>
      </div>
      
    </div>
  </div>
</div>
