<div class="container" style="width:600px;">
  <h1>Abattoir Outward</h1>
  <form>
    <div class="form-group">
        <label for="guidGtin">GUID/GTIN</label>
        <input type="text" class="form-control" id="guidGtin">
    </div>
    
    <div class="form-group">
        <label for="consignmentNumber">Consignment Number</label>
        <input type="text" class="form-control" id="consignmentNumber">
    </div>

    <div class="form-group">
      <label for="materialInwardNumber">Material Inward Number</label>      
      <select class="form-control" id="materialInwardNumber" required>
        <option *ngFor="" [value]=""></option>
      </select>
    </div>

    <div class="form-group">
        <label for="materialName">Material Name</label>
        <input type="text" class="form-control" id="materialName" readonly>
    </div>

    <div class="form-group">
        <label for="materialGrade">Material Grade</label>
        <select class="form-control" id="materialGrade" required readonly>
            <option *ngFor="let grade of commonData.materialGrades" [value]="grade">{{grade}}</option>
        </select>
    </div>
    
    <div class="form-group">
      <label for="minTemp">Temp storage instruction (Min-Max)</label>      
    </div>
    <div class="form-group temp-min-max">      
      <div class="min-max-temp-label">      
        <label>Min</label>
      </div>
      <div class="min-max-temp-field">      
        <input type="text" class="form-control" id="minTemp">
      </div>
      <div class="min-max-temp-label">      
        <label>Max</label>
      </div>
      <div class="min-max-temp-field">      
        <input type="text" class="form-control" id="maxTemp">
      </div>
    </div>
    
    <div class="form-group">
        <label for="productionDate">Production Date</label>
        <input type="text" class="form-control" bsDatepicker/>
    </div>

    <div class="form-group">
        <label for="usedByDate">Used By Date</label>
        <input type="text" class="form-control" bsDatepicker/>
    </div>

    <div class="form-group">
        <label for="quantity" style="display: block;">Quantity</label>
        <input type="text" class="form-control" style="display: inline-block; width:100px;" id="quantity">
        <select class="form-control" id="qunatityUnit" required  style="display: inline-block; width:100px;">
            <option *ngFor="let unit of commonData.units" [value]="unit">{{unit}}</option>
        </select>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>