<div class="page-container">
  <div class="container">
    <h1 class="title-main">Product Dispatch</h1>
    <form #myForm="ngForm">
      <div class="col-lg-6 col-md-6 col-sm-12 left-pane">
        <div class="form-group">
          <label for="consignmentNumber">Consignment Number</label>
          <input type="text" disabled [(ngModel)]="abattoirDispatch.consignmentNumber" class="form-control" name="consignmentNumber" required>
      </div>

      <!-- <div class="form-group">
          <label for="dispatchDate">Dispatch Date</label>
          <input type="text" [(ngModel)]="abattoirDispatch.dispatchDate" name="dispatchDate" class="form-control" bsDatepicker required/>
      </div> -->
      <div class="form-group date-picker-div">
            <label for="dispatchDate">Dispatch Date</label>
            <div class="clearfix">
                <input type="text" placeholder="Date" [(ngModel)]="abattoirDispatch.dispatchDate" name="dispatchDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                <ngb-timepicker [(ngModel)]="dispatchDateTime" name="dispatchDateTime" class="date-picker-time float-left" required></ngb-timepicker>
            </div>
        </div>
      
      <div class="form-group">
          <label>Logistics Serv. Provider</label>
          <select class="form-control selectpicker" [(ngModel)]="abattoirDispatch.logistic.id" name="selectFarmer" id="logistic" required>  
              <option *ngFor="let item of userData.users.logistics" [value]="item.id">{{item.displayName +" (Carrier Id-"+ item.id +")"}}</option>      
          </select>
      </div> 

      <div class="form-group">
          <label for="salesOrder">Sales Order</label>
          <input type="text" (change)="setDefaultValues();" [(ngModel)]="abattoirDispatch.salesOrder" class="form-control" name="salesOrder" required>
      </div>


      <div class="form-group">
        <label for="purchaseOrderReferenceNumber">Purchase Order Ref.</label>
        <input type="text" [(ngModel)]="abattoirDispatch.purchaseOrderReferenceNumber"  class="form-control" name="purchaseOrderReferenceNumber" required>
        </div>


      <!-- <div class="form-group">
        <label for="receiptBatchId">Abattoir Receipt No</label>      
        <select class="form-control" [(ngModel)]="abattoirDispatch.receiptBatchId" (change)="getProductDetails()" name="receiptBatchId" required>        
          <option *ngFor="let rec of abattoirReceivedList" [value]="rec.receiptBatchId">{{rec.receiptBatchId}}</option>
        </select>
      </div> -->

  

        <div class="form-group">
            <label for="livestockBatchId">Livestock Batch ID Ref.</label>
            <input type="text" [(ngModel)]="abattoirDispatch.livestockBatchId" class="form-control" name="livestockBatchId" required>
          </div>

      

     
      
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 right-pane">
        
        <div class="form-group">
            <label for="guidNumber">GUID/GTIN</label>
            <select class="form-control" [(ngModel)]="abattoirDispatch.guidNumber" (change)="setGuid()" name="guidNumber" required>
                <option value="0" selected="selected"></option>
                <option *ngFor="let guid of commonData.abattoirsProducts" [value]="guid.code">{{guid.code}}</option>
            </select>
        </div>
  
        <div class="form-group">
            <label for="materialName">Item Name</label>
            <input type="text" [(ngModel)]="abattoirDispatch.materialName" class="form-control" name="materialName" required>
        </div>
        
          <div class="form-group">
              <label for="materialGrade">Item Class</label>
              <select class="form-control" [(ngModel)]="abattoirDispatch.materialGrade" name="materialGrade" required>
                  <option *ngFor="let grade of commonData.abattoirItemClasses" [value]="grade">{{grade}}</option>
              </select>
            </div>
      
            <div class="form-group">
                <label for="fatCoverClass">Fat Cover Class</label>
                <select class="form-control" [(ngModel)]="abattoirDispatch.fatCoverClass" name="fatCoverClass" required>
                    <option *ngFor="let grade of commonData.fatCoverClasses" [value]="grade">{{grade}}</option>
                </select>
            </div>

        <div class="form-group temp-min-max">
          <label for="minTemp">Storage Temperature (min-max °C)</label>  
          <div class="min-max-temp-field">    
            <input type="text" class="form-control input-inline-small" [(ngModel)]="abattoirDispatch.temperatureStorageMin" name="temperatureStorageMin" placeholder="Min" required>
            <input type="text" class="form-control input-inline-small" [(ngModel)]="abattoirDispatch.temperatureStorageMax" name="temperatureStorageMax" placeholder="max" required>
          </div>
          </div>
        
        <!-- <div class="form-group">
          <label for="productionDate">Production Date</label>
          <input type="text" [(ngModel)]="abattoirDispatch.productionDate" name="productionDate" class="form-control" bsDatepicker required/>
      </div> -->

      <div class="form-group date-picker-div">
            <label for="productionDate">Production Date</label>
            <div class="clearfix">
                <input type="text" placeholder="Date" [(ngModel)]="abattoirDispatch.productionDate" name="productionDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                <ngb-timepicker [(ngModel)]="productionDateTime" name="productionDateTime" class="date-picker-time float-left" required></ngb-timepicker>
            </div>
        </div>
      

      <div class="form-group">
            <label for="quantity" style="display: block;">Quantity</label>
            <input type="text" class="form-control input-inline-small" [(ngModel)]="abattoirDispatch.quantity" name="quantity" required>
            <select class="form-control input-inline-small" [(ngModel)]="abattoirDispatch.quantityUnit" name="qunatityUnit" required >
                <option *ngFor="let unit of commonData.abattoirDispatchUnits" [value]="unit">{{unit}}</option>
            </select>
        </div>
      </div>
      
      <div class="block-button-area">
          <button type="submit" (click)="clearForm(myForm)" class="btn btn-border">Clear</button>
          <button type="submit" [disabled]="!myForm.form.valid" (click)="saveAbattoirDispatch(myForm);"  class="btn btn-normal">Submit</button>
      </div>

    </form>
  </div>
</div>