<div class="page-container">
    <div class="container">
        <h1 class="title-main">Livestock Receipts</h1>
        <form #myForm="ngForm" class="clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12 left-pane">

            <div class="form-group">
            <label for="receiptBatchId">Receipt ID</label>
            <input type="text" disabled [(ngModel)]="abattoirReceived.receiptBatchId"  class="form-control" name="receiptBatchId" required>
            </div>

            <div class="form-group">
                <label for="materialInwardNumber">Purchase Order ID</label>
                <input type="text" (change)="setDefaultValues();" [(ngModel)]="abattoirReceived.purchaseOrderReferenceNumber"  class="form-control" name="purchaseOrderReferenceNumber" required>
            </div>

            <div class="form-group">
                <label for="materialInwardNumber">Livestock Batch ID Ref.</label>
                <input type="text" [(ngModel)]="abattoirReceived.livestockBatchId"  class="form-control" name="purchaseOrderReferenceNumber" required>
            </div>

            <!-- <div class="form-group">
                <label for="receiptOn">Receipt On</label>
                <input type="text" [(ngModel)]="abattoirReceived.receiptOn" name="receiptOn" class="form-control" bsDatepicker required/>
            </div> -->
            <div class="form-group date-picker-div">
                <label for="receiptOnTime">Receipt On</label>
                <div class="clearfix">
                    <input type="text" placeholder="Date" [(ngModel)]="abattoirReceived.receiptOn" name="receiptOn" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                    <ngb-timepicker [(ngModel)]="receiptOnTime" name="receiptOnTime" class="date-picker-time float-left" required></ngb-timepicker>
                </div>
            </div>

            <div class="form-group">
                <label>Supplier</label>
                <select class="form-control selectpicker" [(ngModel)]="abattoirReceived.farmer.id" (change)="setFarmer()" name="selectFarmer" id="selectFarmer" required>
                    <option *ngFor="let farmer of userData.users.farmers" [value]="farmer.id">{{farmer.displayName +" (Supplier Id-"+ farmer.id +")"}}</option>
                </select>
            </div>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 right-pane">
            <div class="form-group">
                    <label for="guidNumber">Cattle</label>
                    <select class="form-control" [(ngModel)]="abattoirReceived.guidNumber" (change)="setGuid()" name="guidNumber" required>
                        <option *ngFor="let guid of commonData.farmersProducts" [value]="guid.code">{{guid.code}}</option>
                    </select>
            </div>
            <div class="form-group">
                <label for="materialGrade">Cattle Grade</label>
                <select class="form-control" [(ngModel)]="abattoirReceived.materialGrade" name="materialGrade" required>
                    <option *ngFor="let grade of commonData.materialGrades" [value]="grade">{{grade}}</option>
                </select>
            </div>

            <div class="form-group">
                <label for="quantity" style="display: block;">Quantity</label>
                <input type="text" class="form-control input-inline-small" [(ngModel)]="abattoirReceived.quantity" name="quantity" required>
                <!-- <select class="form-control" [(ngModel)]="abattoirReceived.quantityUnit" name="quantityUnit" required  style="display: inline-block; width:100px;">
                    <option *ngFor="let unit of commonData.units" [value]="unit">{{unit}}</option>
                </select> -->
            </div>

            <div class="form-group clearfix">
                <label for="alterEgo">Certificates/Documents</label>
                <br>
                <div *ngFor="let cert of certificates">
                    <label class="checkbox-style">
                        <input [(ngModel)]="cert.checked" name="certificates"
                            [value]="cert.id" type="checkbox"/> {{cert.name}}
                            <span class="checkmark"></span>                        
                    </label>
                    <label class="checkbox-style-file">
                    <input type="file" *ngIf="cert.checked" class="form-control" accept=".pdf,.png,.jpeg" [id]="'file_' + cert.name">
                    </label>
                </div>
            </div>

            <!-- <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx"> -->

            <!-- <input type="file" (change)="onChange($event)" required class="form-control" accept=".pdf,.png,.jpeg" name="attach_file" id="attach_file"> -->
            


            </div>

        <div class="block-button-area">
            <button type="submit" (click)="clearForm(myForm)" class="btn btn-border">Clear</button>
            <button type="submit" [disabled]="!myForm.form.valid" (click)="saveAbattoirReceived(myForm);" class="btn btn-normal">Submit</button>
        </div>

        </form>

    </div>
</div>