<div class="container" style="width:600px;">
  <h1>Abattoir Inward</h1>
  <form>
    <div class="form-group">
      <label>Farmer</label>
      <select class="form-control" [(ngModel)]="selectFarmer" (change)="setFarmer()" name="selectFarmer" id="selectFarmer" required>  
          <option *ngFor="let farmer of userData.users.farmers" [value]="farmer.name">{{farmer.name}}</option>      
      </select>
    </div>      
    <div class="form-group">
        <label for="guidGtin">GUID/GTIN</label>
        <input type="text" class="form-control" id="guidGtin">
    </div>

    <div class="form-group">
      <label for="materialInwardNumber">Material Inward Number</label>
      <input type="text" class="form-control" id="materialInwardNumber">
    </div>

    <div class="form-group">
        <label for="materialName">Material Name</label>
        <input type="text" class="form-control" id="materialName">
    </div>

    <div class="form-group">
        <label for="materialGrade">Material Grade</label>
        <select class="form-control" id="materialGrade" required>
            <option *ngFor="let grade of commonData.materialGrades" [value]="grade">{{grade}}</option>
        </select>
    </div>
    
    <div class="form-group">
        <label for="usedByDate">Used By Date</label>
        <input type="text" class="form-control" bsDatepicker/>     
    </div>

    <div class="form-group">
        <label for="quantity" style="display: block;">Quantity</label>
        <input type="text" class="form-control" style="display: inline-block; width:100px;" id="quantity">
        <select class="form-control" id="qunatityUnit" required  style="display: inline-block; width:100px;">
            <option *ngFor="let unit of commonData.units" [value]="unit">{{unit}}</option>
        </select>
    </div>

    <div class="form-group">
        <label for="alterEgo">Certificates</label>
        <div *ngFor="let farmer of userData.users.farmers">                
            <div *ngIf="farmer.name==selectFarmer">
                <div *ngFor="let cert of farmer.certificates">
                    <input checked [value]="cert" type="checkbox"/> {{cert}}
                </div>
            </div>
        </div>
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
</div>