<nav *ngIf="router.url!='/'" class="navbar navbar-dark bg-inverse menu-nav">
  <div class="container">     
      <ul *ngIf="currentUser.role == 'abattoir'" class="nav navbar-nav" routerLinkActive="active">
          <link rel="stylesheet" href="assets/themes/theme-abattoir.css"/>
          <li class="nav-item"><a class="nav-link" routerLink="abattoir/inward">Abattoir Inward</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="abattoir/outward">Abattoir Outward</a></li>            
      </ul>
      <ul *ngIf="currentUser.role == 'logistic'" class="nav navbar-nav" routerLinkActive="active">
          <link rel="stylesheet" href="assets/themes/theme-abattoir.css"/>
          <li class="nav-item"><a class="nav-link" routerLink="logistic/dashboard">Logistic Dashboard</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="logistic/inward">Logistic Inward</a></li>
      </ul>
      <ul *ngIf="currentUser.role == 'processor'" class="nav navbar-nav" routerLinkActive="active">
          <link rel="stylesheet" href="assets/themes/theme-abattoir.css"/>
          <li class="nav-item"><a class="nav-link" routerLink="processor/inward">Processor Inward</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="processor/process">Process Item</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="processor/dispatch">Processor Dispatch</a></li>
      </ul>
      <ul *ngIf="currentUser.role == 'ikea'" class="nav navbar-nav" routerLinkActive="active">
          <link rel="stylesheet" href="assets/themes/theme-abattoir.css"/>              
          <li class="nav-item"><a class="nav-link" routerLink="ikea/inward">Ikea Inward</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="ikea/outward">Ikea Dispatch</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="product/track">Track Product</a></li>
      </ul>
  </div>
</nav>