<form (submit)="loginUser($event)">
  <table id="loginMainTable">
    <tr>
      <td style="width:200px; align:left">
          <img id="LoginImg" style="width:150px;" src="assets/images/login-icon.png">
      </td>
      <td>
          <table id="logintable">
              <tr>
                <td>
                    <label>Username</label>
                </td>
                <td>
                    <input type="text">
                </td>
              </tr>
              <tr>
                  <td>
                      <label>Password</label>
                  </td>
                  <td>
                      <input type="password">
                  </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" class="button" value="Login">
                    </td>
                </tr>
            </table>
      </td>
    </tr>

  </table>
  </form>