<div class="page-container">
<div class="container">
  <h1 class="title-main">Receipt</h1>
  <form #myForm="ngForm">
    <div class="col-lg-6 col-md-6 col-sm-12 left-pane">
      
      <div class="form-group">
        <label for="ikeaReceivedNumber">Receipt Batch</label>
        <input type="text" disabled [(ngModel)]="ikeaReceived.ikeaReceivedNumber" class="form-control" name="ikeaReceivedNumber" required>
      </div>
      
      <div class="form-group">
        <label for="purchaseOrderNumber">Purchase Order Number</label>
        <input type="text" placeholder="POIK001" (change)="setDefaultValues();" [(ngModel)]="ikeaReceived.purchaseOrderNumber" class="form-control" name="purchaseOrderNumber" required>
      </div>
      
      <div class="form-group">
        <label for="consignmentNumber">Consignment Number</label>
        <select class="form-control" [(ngModel)]="ikeaReceived.consignmentNumber" (change)="checkLogisticConsignment();" name="consignmentNumber" required>        
        <option *ngFor="let rec of logisticTransactionList" [value]="rec.consignmentNumber">{{rec.consignmentNumber}}</option>
        </select>
      </div>

      <div class="form-group clearfix">
        <label for="ikeaAcceptanceChecklist">Acceptance Checklist</label>
        <br>
        <label class="checkbox-style" *ngFor="let item of commonData.ikeaAcceptanceCriteria">
            <input [(ngModel)]="item.conditionSatisfied" name="ikeaAcceptanceChecklist" 
                [value]="item.id" type="checkbox" required/> {{item.ruleCondition}}
                <span class="checkmark"></span>
            </label>
    </div>

      <div class="form-group">
          <label for="transportConsitionSatisfied">Transport conditions satisfied?</label>
          <br>
          <label *ngIf="logisticTransaction.iotTemperatureHistory && logisticTransaction.iotTemperatureHistory.length > 0" class="checkbox-style">
            <img class="footer-logo" src="assets/images/check-no.png">  
            <input *ngIf="false" type="checkbox" name="transportConsitionSatisfied" required>
              No
              <!-- <span class="checkmark"></span> -->
          </label>
          <label *ngIf="!logisticTransaction.iotTemperatureHistory || logisticTransaction.iotTemperatureHistory.length == 0" class="checkbox-style">
            <img class="footer-logo" src="assets/images/check-yes.png">      
            <input *ngIf="false" checked disabled type="checkbox" [(ngModel)]="ikeaReceived.transportConsitionSatisfied" name="transportConsitionSatisfied" required>
                  Yes
                  <!-- <span class="checkmark"></span> -->
          </label>
          <table *ngIf="logisticTransaction.iotTemperatureHistory && logisticTransaction.iotTemperatureHistory.length > 0" class="table table-striped">
                  <tr>
                      <th colspan="10">Discrepancies in Temperature</th>
                  </tr>
                  <tr>
                      <th>Temp</th>
                      <th>Location</th>
                      <th>Date/Time</th>
                  </tr>
                  <tr *ngFor="let item of logisticTransaction.iotTemperatureHistory; let i = index" [attr.data-index]="i">
                      <td>{{item.temperature}}</td>
                      <td>{{item.location}}</td>
                      <td>{{item.updatedOn | date : "short"}}</td>
                  </tr>               
          </table>
      </div>

    

      <!-- <div class="form-group">
      <label for="materialGrade">Material Grade</label>
      <select disabled class="form-control" [(ngModel)]="ikeaReceived.materialGrade" name="materialGrade" required>
          <option *ngFor="let grade of commonData.materialGrades" [value]="grade">{{grade}}</option>
      </select>
      </div>     -->
      
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 right-pane">
      
        <div class="form-group">
            <label for="guidNumber">Product Code (GUID/GTIN)</label>
            <select disabled class="form-control" [(ngModel)]="ikeaReceived.guidNumber" (click)="setGuid();" name="guidNumber" required>
                <option value="0" selected="selected"></option>
                <option *ngFor="let guid of commonData.processingTransactionProducts" [value]="guid.code">{{guid.code}}</option>
            </select>
          </div>
    
          <div class="form-group">
              <label for="materialName">Product</label>
              <input disabled type="text" [(ngModel)]="ikeaReceived.materialName" class="form-control" name="materialName" required>
          </div>
<!--           
      <div class="form-group">
        <label for="receivedDate">Received Date</label>
        <input type="text" [(ngModel)]="ikeaReceived.receivedDate" name="receivedDate" class="form-control" bsDatepicker required/>
      </div>

      <div class="form-group">
          <label for="usedByDate">Used By Date</label>
          <input disabled type="text" [(ngModel)]="ikeaReceived.usedByDate" name="usedByDate" class="form-control" bsDatepicker required/>
      </div> -->

      <div class="form-group date-picker-div">
            <label for="receivedDate">Received Date</label>
            <div class="clearfix">
                <input type="text" placeholder="Date" [(ngModel)]="ikeaReceived.receivedDate" name="receivedDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                <ngb-timepicker [(ngModel)]="receivedDateTime" name="receivedDateTime" class="date-picker-time float-left" required></ngb-timepicker>
            </div>
        </div>
        
        <div class="form-group date-picker-div">
            <label for="usedByDate">Used By Date</label>
            <div class="clearfix">
                <input type="text" placeholder="Date" [(ngModel)]="ikeaReceived.usedByDate" name="usedByDate" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
                <ngb-timepicker [(ngModel)]="usedByDateTime" name="usedByDateTime" class="date-picker-time float-left" required></ngb-timepicker>
            </div>
        </div>

      <div class="form-group">
          <label for="quantity" style="display: block;">Quantity</label>
          <input disabled type="text" class="form-control input-inline-small" [(ngModel)]="ikeaReceived.quantity" name="quantity" required>
          <select disabled class="form-control input-inline-small" [(ngModel)]="ikeaReceived.quantityUnit" name="qunatityUnit" required >
              <option *ngFor="let unit of commonData.processingTransactionUnits" [value]="unit">{{unit}}</option>
          </select>
      </div>

      <div class="form-group">
          <label for="transitTime">Transit Time(Hrs)</label>
          <input type="text" [(ngModel)]="ikeaReceived.transitTime" class="form-control" name="transitTime" required>
      </div>

      <div class="form-group">
          <label for="storage">Storage</label>
          <select class="form-control" [(ngModel)]="ikeaReceived.storage" name="storage" required >
            <option *ngFor="let item of commonData.storage" [value]="item">{{item}}</option>
          </select>
      </div>
      

     
      
    </div>
    

    <div class="block-button-area">
      <button type="submit" (click)="clearForm(myForm)" class="btn btn-border">Clear</button>
      <button type="submit" [disabled]="!myForm.form.valid" (click)="saveIkeaReceived(myForm);" class="btn btn-normal">Submit</button>
    </div>

  </form>
</div>
</div>