<div class="container">
  <h1 class="title-main">Checkout</h1>
  <form #myForm="ngForm">
    <div class="col-lg-6 col-md-6 col-sm-12 left-pane">
      
      <div class="form-group">
        <label for="ikeaDispatchNumber">Kitchen Checkout ID</label>
        <input type="text" disabled [(ngModel)]="ikeaDispatch.ikeaDispatchNumber" class="form-control" name="ikeaDispatchNumber" required>
      </div>
      
      <div class="form-group">
        <label for="ikeaReceivedNumber">Material Batch</label>
        <select (change)="setDefaultValues();" class="form-control" [(ngModel)]="ikeaDispatch.ikeaReceivedNumber" name="ikeaReceivedNumber" required>        
        <option *ngFor="let rec of ikeaReceivedList" [value]="rec.ikeaReceivedNumber">{{rec.ikeaReceivedNumber}}</option>
        </select>
      </div>
      
      
      <div class="form-group">
        <label for="guidNumber">Product Code (GUID/GTIN)</label>
        <select class="form-control" [(ngModel)]="ikeaDispatch.guidNumber" (click)="setGuid();" name="guidNumber" required>
            <option value="0" selected="selected"></option>
            <option *ngFor="let guid of commonData.ikeaDispatchProducts" [value]="guid.code">{{guid.code}}</option>
        </select>
      </div>

      <div class="form-group">
          <label for="materialName">Product</label>
          <input type="text" [(ngModel)]="ikeaDispatch.materialName" class="form-control" name="materialName" required>
      </div>

      
        <!-- <div class="form-group">
            <label for="preparedOn">Prepared On</label>
            <input type="text" [(ngModel)]="ikeaDispatch.preparedOn" name="preparedOn" class="form-control" bsDatepicker required/>
          </div>
       -->
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12 right-pane">
      
      <!-- <div class="form-group">
        <label for="materialGrade">Material Grade</label>
        <select class="form-control" [(ngModel)]="ikeaDispatch.materialGrade" name="materialGrade" required>
            <option *ngFor="let grade of commonData.materialGrades" [value]="grade">{{grade}}</option>
        </select>
      </div>   -->
      <div class="form-group">
          <label for="preparedBy">Checkout By</label>
          <select class="form-control" [(ngModel)]="ikeaDispatch.preparedBy" name="preparedBy" required>              
              <option *ngFor="let item of commonData.dishPreparedBy" [value]="item">{{item}}</option>
          </select>
        </div>

      <!-- <div class="form-group">
        <label for="dispatchDateTime">Checkout Date</label>
        <input type="text" [(ngModel)]="ikeaDispatch.dispatchDateTime" name="dispatchDateTime" class="form-control" bsDatepicker required/>
      </div> -->

      <div class="form-group date-picker-div">
          <label for="dispatchDateTime">Checkout Date</label>
          <div class="clearfix">
              <input type="text" placeholder="Date" [(ngModel)]="ikeaDispatch.dispatchDateTime" name="dispatchDateTime" class="form-control date-picker-date date-input-small float-left" bsDatepicker required/>     
              <ngb-timepicker [(ngModel)]="dispatchDateTime" name="dispatchDateTime" class="date-picker-time float-left" required></ngb-timepicker>
          </div>
      </div>

      <!-- <div class="form-group">
          <label for="preparedBy">Sold At</label>
          <select class="form-control" [(ngModel)]="ikeaDispatch.soldAt" name="soldAt" required>              
              <option *ngFor="let item of commonData.ikeaStoreList" [value]="item">{{item}}</option>
          </select>
        </div>

      <div class="form-group">
          <label for="soldFromDate">Sold From</label>
          <input type="text" [(ngModel)]="ikeaDispatch.soldFromDate" name="soldFromDate" class="form-control" bsDatepicker required/>
        </div>

        <div class="form-group">
            <label for="soldUntillDate">Sold Untill</label>
            <input type="text" [(ngModel)]="ikeaDispatch.soldUntillDate" name="soldUntillDate" class="form-control" bsDatepicker required/>
          </div> -->

      <div class="form-group">
          <label for="quantity" style="display: block;">Quantity</label>
          <input type="text" class="form-control input-inline-small" [(ngModel)]="ikeaDispatch.quantity" name="quantity" required>
          <select class="form-control input-inline-small" [(ngModel)]="ikeaDispatch.quantityUnit" name="qunatityUnit" required >
              <option *ngFor="let unit of commonData.processingTransactionUnits" [value]="unit">{{unit}}</option>
          </select>
      </div>
      
    </div>
    

    <div class="block-button-area">
      <button type="submit" (click)="clearForm(myForm)" class="btn btn-border">Clear</button>
      <button type="submit" [disabled]="!myForm.form.valid" (click)="saveIkeaDispatch(myForm);" class="btn btn-normal">Submit</button>
    </div>

  </form>
</div>